<!--SECTION FOOTER-->
<footer class="c-footer">
    <!-- <p class="c-footer__credits">Hecho con ♥️ por <a class="c-footer__link c-footer__link--memo" href="https://www.memopoblete.com" target="_blank">Memo</a>, <a class="c-footer__link c-footer__link--rene" href="https://reneblanco.com"  target="_blank">René</a> y <a class="c-footer__link c-footer__link--jose" href="https://josecuevas.dev" target="_blank">José</a> desde <a class="c-footer__link c-footer__link--dtt" href="https://dobletaptap.com" target="_blank">DobleTapTap</a></p> -->
<div class="c-footer__top">
    <div class="c-footer__container">
        <p>¿Tienes alguna duda?</p>
        <a class="c-footer__button" href="#">Contáctanos</a>
    </div>
</div>
<div class="c-footer__bottom">
    <p class="c-footer__credits">Consume Xalapa todo los derechos reservados</p>
</div>
</footer>
<script src="./js/index.js"></script>
<script src="./js/zenscroll-min.js"></script>