<!-- SECTION HEADER -->
<header class="c-header">
    <h2 class="c-logo">consume<span class="c-logo__highlight">xalapa</span>.com</h2>
    <nav class="c-header__nav" id="menu">
        <ul class="c-header__list">
            <li class="c-header__list-item"><a href="#inicio" class="c-header__link">Inicio</a></li>
            <li class="c-header__list-item"><a href="#negocios" class="c-header__link">Negocios</a></li>
            <li class="c-header__list-item"><a href="#mapa" class="c-header__link">Mapa</a></li>
            <li class="c-header__list-item"><a href="#promociones" class="c-header__link">Promociones</a></li>
            <li class="c-header__list-item"><a href="#contacto" class="c-header__link">Contacto</a></li>
            <li class="c-header__list-item"><a href="/nosotros.html" class="c-header__link">Nosotros</a></li>
            <li class="c-header__list-item c-header__list-item--button" id="light-button"><i class="icon-light" ></i></li>
            <!-- <li class="c-header__list-item"><a href="#" class="c-header__link">FAQS</a></li> -->
        </ul>  
    </nav>
    <div class="c-burger-menu" id="burger-button">
        <i class="icon-menu"></i>
    </div>
</header>