<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs') %>
<body>
    <h2>Add Restaurant</h2>
    <form id="form" action="">
        <label for="name">Nombre del Negocio</label>
        <input name="name" type="text">
        <label for="category">Categoria del Restaurante</label>
        <input name="category" type="text">
        <select id="" name="category">
            <option value="cafeteria">cafeteria</option>
            <option value="cafeteria de especialidad">cafeteria de especialidad</option>
            <option value="mexicana">mexicana</option>
            <option value="italiana">italiana</option>
            <option value="china">china</option>
            <option value="japonesa">japonesa</option>
            <option value="tradicional">tradicional</option>
            <option value="snacks">snacks</option>
            <option value="reposteria">reposteria</option>
            <option value="reposteria">reposteria</option>
        </select>
        <p>Horario</p>
        <label for="opens">Abre</label>
        <input name="opens" type="text">
        <label for="closes">Cierra</label>
        <input name="closes" type="text">
        <p>Días de trabajo</p>
        <label for="mon">
            Lunes
            <input type="checkbox" name="mon" id="">
        </label>
        <label for="tue">
            Martes
            <input type="checkbox" name="tue" id="">
        </label>
        <label for="wed">
            Miercoles
            <input type="checkbox" name="wed" id="">
        </label>
        <label for="thu">
            Jueves
            <input type="checkbox" name="thu" id="">
        </label>
        <label for="fri">
            Viernes
            <input type="checkbox" name="fri" id="">
        </label>
        <label for="sat">
            Sabado
            <input type="checkbox" name="sat" id="">
        </label>
        <label for="sun">
            Domingo
            <input type="checkbox" name="sun" id="">
        </label>
        <label for="tags">Etiquetas</label>
        <input type="text" name="tags" id="">
        <label for="menu">Menu reducido</label>
        <input type="text" name="menu" id="">
        <label for="phone">Telefono</label>
        <input type="number" name="phone" id="">
        <label for="whatsapp">WhatsApp</label>
        <input type="number" name="whatsapp" id="">
        <label for="facebook">facebook</label>
        <input type="text" name="facebook" id="">
        <label for="instagram">instagram</label>
        <input type="text" name="instagram" id="">
        <label for="channel">Recibir pedidos</label>
        <select id="" name="channel">
            <option value="whatsapp">WhatsApp</option>
            <option value="phone">Telefono</option>
            <option value="facebook">Facebook</option>
            <option value="instagram">Instagram</option>
        </select>
        <label for="website">website</label>
        <input type="text" name="website" id="">
        <label for="address">dirección</label>
        <input type="text" name="address" id="">
        <label for="image">Imagen</label>
        <input type="file" name="image" id="">
        <button id="button">Enviar</button> 
    </form>
    <%- include('./includes/footer.ejs') %>
    <script>
        const $form = document.querySelector('#form')

        $form.addEventListener('submit', event => {
            event.preventDefault()
            const formData = new FormData($form)
            fetch('/restaurants', {
                method: 'POST',
                body: formData
            })
        })





        // const button = document.querySelector('#button')

        // button.addEventListener('click', () => {
        //     const toSend = {
        //         schedule: { opens: '9:00AM', closes: '3:00PM' },
        //         workDays: {
        //             mon: true,
        //             tue: true,
        //             wed: true,
        //             thu: true,
        //             fri: true,
        //             sat: true,
        //             sun: false
        //         },
        //         active: true,
        //         tags: [ 'tarjeta', 'efectivo', 'born in xalapa', 'domicilio', 'recoger' ],
        //         menu: [ 'Bagel de Pera', 'Bagel de Huevo', 'Cold Brew', 'Alebrije' ],
        //         name: 'Café Jasón',
        //         category: 'Cafeteria de Especialidad',
        //         channel: 'whatsapp',
        //         website: 'https://cafejason.com',
        //         phone: '2283558518',
        //         whatsapp: '2283558518',
        //         facebook: 'CafeJason/',
        //         instagram: 'cafejasonoficial/',
        //         address: 'Rojano #20',
        //     }
        //     const jsonString = JSON.stringify(toSend)

        //     const xhr = new XMLHttpRequest()

        //     xhr.open('POST', 'http://localhost:3000/restaurants')
        //     xhr.setRequestHeader('Content-Type', 'application/json')
        //     xhr.send(jsonString)
        // })
    </script>
</body>
</html>