<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs')%>
<body>
    <div class="u-wrapper">
        <%- include('./includes/header.ejs')%>    
        <section class="c-hero" id="inicio">
            <div class="c-hero__content">
                <h1 class="c-hero__title">consume<span class="c-hero__title c-marquee__highlight">xalapa</span></h1>
                <h3 class="c-hero__slogan">Restaurantes asombrosos reunidos en un mismo lugar</h3>
                <a class="c-hero__button">Explora los locales</a>
                <p class="c-hero__message"><small class="c-hero__message">Con tu compra ayudas a que los negocios en Xalapa<br>puedan seguir dando productos chingones.</small></p>
            </div>
        </section>
        <section class="c-need">
            <figure class="c-need__figure">
                <img src="../public/img/day30-cafe 1.png" alt="" class="c-need__store">
            </figure>
            <div>
                <h3 class="c-need__title">¡Te necesitamos!</h3>
                <p class="c-need__text">Hoy más que nunca los medianos y pequeños negocios nacidos en Xalapa te necesitan para poder seguir. Ganemos juntos la batalla vs el COVID-19 y pongamos de nuestra para regresar todos juntos a la normalidad.</p>
            </div>
        </section>
        <section class="c-hero">
            <div class="c-hero__content">
                <h3 class="c-hero__title c-hero__title-smaller">Consume <span class="c-hero__title c-hero__title-smaller c-marquee__highlight">Seguro</span></h3>
                <p class="c-hero__slogan">Los lugares que están registrados en nuestra plataforma tomarán<br>todas las precauciones para llevarte la comida sana y salva a casa.</p>
                <ul class="c-hero__imglist">
                    <li class="c-hero__imgs"></li>
                    <li class="c-hero__arrow">&rarr;</li>
                    <li class="c-hero__imgs"></li>
                    <li class="c-hero__arrow">&rarr;</li>
                    <li class="c-hero__imgs"></li>
                </ul>
            </div>
        </section>
        <section class="c-need c-need-space">
            <div class="c-need__left">
                <h3 class="c-need__title">Gracias a ti</h3>
                <p class="c-need__text">Más de <b>50+</b>negocios locales<br>registrados en Consume Xalapa</p>
            </div>
            <div class="c-biz c-biz-landing c-biz-landing--third">
                <div class="c-biz__top">
                    <img src="./img/jason.jpg" alt="" class="c-biz__image">
                </div>
                <div class="c-biz__bottom">
                    <div class="c-biz__details">
                        <p class="c-biz__category">Restaurant</p>
                        <p class="c-biz__hours">9:00AM - 3:00PM</p>
                        <h2 class="c-biz__name">Café Jasón</h2>
                        <p class="c-biz__type">Café de Especialidad</p>
                        <ul class="c-biz__orders-list">
                            <li class="c-biz__order"><span>Recoger</span></li>
                            <li class="c-biz__order"><span>Domicilio</span></li>
                            <li class="c-biz__order"><span>Sin contacto</span></li>
                        </ul>
                    </div>
                    <div class="c-biz__menu">
                        <h3 class="c-biz__menu-title">Platillos favoritos:</h3>
                        <ul class="c-biz__menu-list">
                            <li class="c-biz__menu-item">Bagel de Huevo con Jamón</li>
                            <li class="c-biz__menu-item">Bagel de Pera</li>
                            <li class="c-biz__menu-item">Café Latte</li>
                            <li class="c-biz__menu-item">Café Americano</li>
                        </ul>
                    </div>
                    <div class="c-biz__actions">
                        <a href="https://wa.me/5212283558518?text=Quisiera%20hacer%20un%20pedido" class="c-biz__cta">Ordenar</a>
                        <!-- <a href="#" class="c-biz__cta c-biz__cta--hollow">Gift Card</a> -->
                    </div>
                    <div class="c-biz__info">
                        <a href="www.cafejason.com" class="c-biz__link"><i class="icon-world"></i>www.cafejason.com</a>
                        <a href="tel:2283558518" class="c-biz__link"><i class="icon-phone"></i>(228)3558518</a>
                        <!-- @19.5281206,-96.9195692 -->
                        <a href="https://www.google.com/maps/dir//19.5281206,-96.9195692/@19.5281206,-96.9195692,17z?hl=es"
                            class="c-biz__link"><i class="icon-location"></i>Rojano #20, Col. Centro.</a>
                    </div>
                </div>
            </div>
            <div class="c-biz c-biz-landing c-biz-landing--second">
                <div class="c-biz__top">
                    <img src="./img/jason.jpg" alt="" class="c-biz__image">
                </div>
                <div class="c-biz__bottom">
                    <div class="c-biz__details">
                        <p class="c-biz__category">Restaurant</p>
                        <p class="c-biz__hours">9:00AM - 3:00PM</p>
                        <h2 class="c-biz__name">Café Jasón</h2>
                        <p class="c-biz__type">Café de Especialidad</p>
                        <ul class="c-biz__orders-list">
                            <li class="c-biz__order"><span>Recoger</span></li>
                            <li class="c-biz__order"><span>Domicilio</span></li>
                            <li class="c-biz__order"><span>Sin contacto</span></li>
                        </ul>
                    </div>
                    <div class="c-biz__menu">
                        <h3 class="c-biz__menu-title">Platillos favoritos:</h3>
                        <ul class="c-biz__menu-list">
                            <li class="c-biz__menu-item">Bagel de Huevo con Jamón</li>
                            <li class="c-biz__menu-item">Bagel de Pera</li>
                            <li class="c-biz__menu-item">Café Latte</li>
                            <li class="c-biz__menu-item">Café Americano</li>
                        </ul>
                    </div>
                    <div class="c-biz__actions">
                        <a href="https://wa.me/5212283558518?text=Quisiera%20hacer%20un%20pedido" class="c-biz__cta">Ordenar</a>
                        <!-- <a href="#" class="c-biz__cta c-biz__cta--hollow">Gift Card</a> -->
                    </div>
                    <div class="c-biz__info">
                        <a href="www.cafejason.com" class="c-biz__link"><i class="icon-world"></i>www.cafejason.com</a>
                        <a href="tel:2283558518" class="c-biz__link"><i class="icon-phone"></i>(228)3558518</a>
                        <!-- @19.5281206,-96.9195692 -->
                        <a href="https://www.google.com/maps/dir//19.5281206,-96.9195692/@19.5281206,-96.9195692,17z?hl=es"
                            class="c-biz__link"><i class="icon-location"></i>Rojano #20, Col. Centro.</a>
                    </div>
                </div>
            </div>
            <div class="c-biz c-biz-landing">
                <div class="c-biz__top">
                    <img src="./img/jason.jpg" alt="" class="c-biz__image">
                </div>
                <div class="c-biz__bottom">
                    <div class="c-biz__details">
                        <p class="c-biz__category">Restaurant</p>
                        <p class="c-biz__hours">9:00AM - 3:00PM</p>
                        <h2 class="c-biz__name">Café Jasón</h2>
                        <p class="c-biz__type">Café de Especialidad</p>
                        <ul class="c-biz__orders-list">
                            <li class="c-biz__order"><span>Recoger</span></li>
                            <li class="c-biz__order"><span>Domicilio</span></li>
                            <li class="c-biz__order"><span>Sin contacto</span></li>
                        </ul>
                    </div>
                    <div class="c-biz__menu">
                        <h3 class="c-biz__menu-title">Platillos favoritos:</h3>
                        <ul class="c-biz__menu-list">
                            <li class="c-biz__menu-item">Bagel de Huevo con Jamón</li>
                            <li class="c-biz__menu-item">Bagel de Pera</li>
                            <li class="c-biz__menu-item">Café Latte</li>
                            <li class="c-biz__menu-item">Café Americano</li>
                        </ul>
                    </div>
                    <div class="c-biz__actions">
                        <a href="https://wa.me/5212283558518?text=Quisiera%20hacer%20un%20pedido" class="c-biz__cta">Ordenar</a>
                        <!-- <a href="#" class="c-biz__cta c-biz__cta--hollow">Gift Card</a> -->
                    </div>
                    <div class="c-biz__info">
                        <a href="www.cafejason.com" class="c-biz__link"><i class="icon-world"></i>www.cafejason.com</a>
                        <a href="tel:2283558518" class="c-biz__link"><i class="icon-phone"></i>(228)3558518</a>
                        <!-- @19.5281206,-96.9195692 -->
                        <a href="https://www.google.com/maps/dir//19.5281206,-96.9195692/@19.5281206,-96.9195692,17z?hl=es"
                            class="c-biz__link"><i class="icon-location"></i>Rojano #20, Col. Centro.</a>
                    </div>
                </div>
            </div>
        </section>
        <%- include('./includes/footer.ejs') %>
    </div>
</body>
</html>