<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs')%>
<body>
    <div class="u-wrapper">
        <%- include('./includes/header.ejs')%>    
        <section class="c-hero" id="inicio">
            <div class="c-hero__content">
                <h1 class="c-hero__title">consume<span class="c-hero__title c-marquee__highlight">xalapa</span></h1>
                <h3 class="c-hero__slogan">Restaurantes asombrosos reunidos en un mismo lugar</h3>
                <a class="c-hero__button">Explora los locales</a>
                <p class="c-hero__message"><small class="c-hero__message">Con tu compra ayudas a que los negocios en Xalapa<br>puedan seguir dando productos chingones.</small></p>
            </div>
        </section>
        <section class="c-need">
            <img src="/img/cafe1.png" alt="" class="c-need__img c-need__img-undefined">
            <div>
                <h3 class="c-need__title">¡Te necesitamos!</h3>
                <p class="c-need__text">Hoy más que nunca los medianos y pequeños negocios nacidos en Xalapa te necesitan para poder seguir. Ganemos juntos la batalla vs el COVID-19 y pongamos de nuestra para regresar todos juntos a la normalidad.</p>
            </div>
        </section>
        <section class="c-safe">
            <h3 class="c-safe__title">Consume<span class="c-safe__title c-safe__title-smaller c-marquee__highlight">Seguro</span></h3>
            <p class="c-safe__slogan">Los lugares que están registrados en nuestra plataforma tomarán<br>todas las precauciones para llevarte la comida sana y salva a casa.</p>
            <ul class="c-safe__imglist">
                <li><img src="/img/leaving.png" alt="" class="c-safe__imgs"></li>
                <li class="c-hero__arrow">&rarr;</li>
                <li><img src="/img/delivery.png" alt="" class="c-safe__imgs"></li>
                <li class="c-hero__arrow">&rarr;</li>
                <li><img src="/img/social.png" alt="" class="c-safe__imgs"></li>
            </ul>
        </section>
        <section class="c-thanks">
            <div class="c-thanks__left">
                <h3 class="c-thanks__title">Gracias a ti</h3>
                <p class="c-thanks__text c-need__thanks-space">Más de <b>50+ </b>negocios locales<br>registrados en Consume Xalapa</p>
            </div>
            <div class="c-biz c-biz-landing c-biz-landing--third">
                <div class="c-biz__top">
                    <img src="/img/siwapan.jpg" alt="" class="c-biz__image c-need__img-cards">
                </div>
                <div class="c-biz__bottom">
                    <div class="c-biz__details">
                        <p class="c-biz__category">Restaurant</p>
                        <p class="c-biz__hours">9:00AM - 3:00PM</p>
                        <h2 class="c-biz__name">Café Jasón</h2>
                        <p class="c-biz__type">Café de Especialidad</p>
                        <ul class="c-biz__orders-list">
                            <li class="c-biz__order"><span>Recoger</span></li>
                            <li class="c-biz__order"><span>Domicilio</span></li>
                            <li class="c-biz__order"><span>Sin contacto</span></li>
                        </ul>
                    </div>
                    <div class="c-biz__menu">
                        <h3 class="c-biz__menu-title">Platillos favoritos:</h3>
                        <ul class="c-biz__menu-list">
                            <li class="c-biz__menu-item">Bagel de Huevo con Jamón</li>
                            <li class="c-biz__menu-item">Bagel de Pera</li>
                            <li class="c-biz__menu-item">Café Latte</li>
                            <li class="c-biz__menu-item">Café Americano</li>
                        </ul>
                    </div>
                    <div class="c-biz__actions">
                        <a href="https://wa.me/5212283558518?text=Quisiera%20hacer%20un%20pedido" class="c-biz__cta">Ordenar</a>
                        <!-- <a href="#" class="c-biz__cta c-biz__cta--hollow">Gift Card</a> -->
                    </div>
                    <div class="c-biz__info">
                        <a href="www.cafejason.com" class="c-biz__link"><i class="icon-world"></i>www.cafejason.com</a>
                        <a href="tel:2283558518" class="c-biz__link"><i class="icon-phone"></i>(228)3558518</a>
                        <!-- @19.5281206,-96.9195692 -->
                        <a href="https://www.google.com/maps/dir//19.5281206,-96.9195692/@19.5281206,-96.9195692,17z?hl=es"
                            class="c-biz__link"><i class="icon-location"></i>Rojano #20, Col. Centro.</a>
                    </div>
                </div>
            </div>
            <div class="c-biz c-biz-landing c-biz-landing--second">
                <div class="c-biz__top">
                    <img src="./img/siwapan.jpg" alt="" class="c-biz__image c-need__img-cards">
                </div>
                <div class="c-biz__bottom">
                    <div class="c-biz__details">
                        <p class="c-biz__category">Restaurant</p>
                        <p class="c-biz__hours">9:00AM - 3:00PM</p>
                        <h2 class="c-biz__name">Café Jasón</h2>
                        <p class="c-biz__type">Café de Especialidad</p>
                        <ul class="c-biz__orders-list">
                            <li class="c-biz__order"><span>Recoger</span></li>
                            <li class="c-biz__order"><span>Domicilio</span></li>
                            <li class="c-biz__order"><span>Sin contacto</span></li>
                        </ul>
                    </div>
                    <div class="c-biz__menu">
                        <h3 class="c-biz__menu-title">Platillos favoritos:</h3>
                        <ul class="c-biz__menu-list">
                            <li class="c-biz__menu-item">Bagel de Huevo con Jamón</li>
                            <li class="c-biz__menu-item">Bagel de Pera</li>
                            <li class="c-biz__menu-item">Café Latte</li>
                            <li class="c-biz__menu-item">Café Americano</li>
                        </ul>
                    </div>
                    <div class="c-biz__actions">
                        <a href="https://wa.me/5212283558518?text=Quisiera%20hacer%20un%20pedido" class="c-biz__cta">Ordenar</a>
                        <!-- <a href="#" class="c-biz__cta c-biz__cta--hollow">Gift Card</a> -->
                    </div>
                    <div class="c-biz__info">
                        <a href="www.cafejason.com" class="c-biz__link"><i class="icon-world"></i>www.cafejason.com</a>
                        <a href="tel:2283558518" class="c-biz__link"><i class="icon-phone"></i>(228)3558518</a>
                        <!-- @19.5281206,-96.9195692 -->
                        <a href="https://www.google.com/maps/dir//19.5281206,-96.9195692/@19.5281206,-96.9195692,17z?hl=es"
                            class="c-biz__link"><i class="icon-location"></i>Rojano #20, Col. Centro.</a>
                    </div>
                </div>
            </div>
            <div class="c-biz c-biz-landing">
                <div class="c-biz__top">
                    <img src="./img/siwapan.jpg" alt="" class="c-biz__image c-need__img-cards">
                </div>
                <div class="c-biz__bottom">
                    <div class="c-biz__details">
                        <p class="c-biz__category">Restaurant</p>
                        <p class="c-biz__hours">9:00AM - 3:00PM</p>
                        <h2 class="c-biz__name">Café Jasón</h2>
                        <p class="c-biz__type">Café de Especialidad</p>
                        <ul class="c-biz__orders-list">
                            <li class="c-biz__order"><span>Recoger</span></li>
                            <li class="c-biz__order"><span>Domicilio</span></li>
                            <li class="c-biz__order"><span>Sin contacto</span></li>
                        </ul>
                    </div>
                    <div class="c-biz__menu">
                        <h3 class="c-biz__menu-title">Platillos favoritos:</h3>
                        <ul class="c-biz__menu-list">
                            <li class="c-biz__menu-item">Bagel de Huevo con Jamón</li>
                            <li class="c-biz__menu-item">Bagel de Pera</li>
                            <li class="c-biz__menu-item">Café Latte</li>
                            <li class="c-biz__menu-item">Café Americano</li>
                        </ul>
                    </div>
                    <div class="c-biz__actions">
                        <a href="https://wa.me/5212283558518?text=Quisiera%20hacer%20un%20pedido" class="c-biz__cta">Ordenar</a>
                        <!-- <a href="#" class="c-biz__cta c-biz__cta--hollow">Gift Card</a> -->
                    </div>
                    <div class="c-biz__info">
                        <a href="www.cafejason.com" class="c-biz__link"><i class="icon-world"></i>www.cafejason.com</a>
                        <a href="tel:2283558518" class="c-biz__link"><i class="icon-phone"></i>(228)3558518</a>
                        <!-- @19.5281206,-96.9195692 -->
                        <a href="https://www.google.com/maps/dir//19.5281206,-96.9195692/@19.5281206,-96.9195692,17z?hl=es"
                            class="c-biz__link"><i class="icon-location"></i>Rojano #20, Col. Centro.</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="c-together">
            <div class="c-together__card c-together__rectangle">
                <h3 class="c-together__title c-together__title-nomargin c-marquee__highlight"><b>Creole</b></h3>
                <p class="c-together__text c-together__text-soft">Comida artesanal fusionada<br>con mexico nativa</p>
            </div>
            <img src="/img/guapo.png" alt="" class="c-together__img">
            <div class="c-together__title-grid">
                <h3 class="c-together__title c-together__title-smaller">Juntos Podemos</h3>
                <p class="c-together__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, officia! Laudantium eius, minima rem doloremque officia tenetur libero adipisci, possimus nisi at ipsam dolorem inventore? Magnam impedit eos molestias maiores?</p>
            </div>
            <p class="c-together__text c-together__text-grid--a">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam, cupiditate dolore. Consequatur molestiae nam, quia adipisci nostrum, excepturi sit quod iste sint esse natus explicabo eos, autem reiciendis repellat quaerat?</p>
            <p class="c-together__text c-together__text-grid--b">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus rerum illum est similique provident incidunt nobis accusamus modi, error quidem eligendi numquam obcaecati amet eum culpa ut voluptas quis iusto?</p>
        </section>
        <section class="c-subscribe">
            <h3 class="c-subscribe__slogan"><span class="c-subscribe__slogan c-subscribe__slogan-span">Forma parte<br>de esta<br></span>hermosa<br>comunidad</h3>
            <a href="#" class="c-subscribe__button c-subscribe__button-bigger">Inscribe tu local</a>
        </section>
        <%- include('./includes/footer.ejs') %>
    </div>
</body>
</html>