<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs')%>
<body>
    <div class="u-wrapper">
        <%- include('./includes/header.ejs')%>    
        <section class="c-hero" id="inicio">
            <div class="c-hero__content">
                <h2 class="c-hero__title">consume<span class="c-hero__title c-marquee__highlight">xalapa</span></h2>
                <h3 class="c-hero__slogan">Restaurantes asombrosos reunidos en un mismo lugar</h3>
                <a class="c-hero__button">Explora los locales</a>
                <p class="c-hero__message"><small class="c-hero__message">Con tu compra ayudas a que los negocios en Xalapa<br>puedan seguir dando productos chingones.</small></p>
            </div>
        </section>
        <%- include('./includes/footer.ejs') %>
    </div>
</body>
</html>