<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs') %>
<body>
  <div class="u-wrapper">
    <%- include('./includes/header.ejs') %>
    <div class="c-marquee">
      <div class="c-marquee__container">
        <div class="c-marquee__title-container c-marquee__title-container--nonbase">
          <img class="c-marquee__image c-marquee__image--big" src="/img/promo.png" alt="">
          <h1 class="c-marquee__title">pro<span class="c-marquee__highlight">mos</span></h1>
        </div>
        <h2 class="c-marquee__subtitle">Explora las <span class="c-marquee__subtitle-highlight">promociones exclusivas<br>
            </span>que <span class="c-marquee__subtitle-highlight">consumexalapa</span> tiene para ti</h2>
      </div>
    </div>
    <div class="c-promos">
      <div class="c-promos__card">
        <h3 class="c-promos__discount">Descuento en Bagels</h3>
        <h3 class="c-promos__price">-100 pesos de descuento</h3>
        <p class="c-promos__conditions"><small>Las letritas chiquitas con las condiciones</small></p>
      </div>
      <div class="c-promos__card">
        <h3 class="c-promos__discount">Descuento en Bagels</h3>
        <h3 class="c-promos__price">-100 pesos de descuento</h3>
        <p class="c-promos__conditions"><small>Las letritas chiquitas con las condiciones</small></p>
      </div>
      <div class="c-promos__card">
        <h3 class="c-promos__discount">Descuento en Bagels</h3>
        <h3 class="c-promos__price">-100 pesos de descuento</h3>
        <p class="c-promos__conditions"><small>Las letritas chiquitas con las condiciones</small></p>
      </div>
      <div class="c-promos__card">
        <h3 class="c-promos__discount">Descuento en Bagels</h3>
        <h3 class="c-promos__price">-100 pesos de descuento</h3>
        <p class="c-promos__conditions"><small>Las letritas chiquitas con las condiciones</small></p>
      </div>
    </div>
    <%- include('./includes/footer.ejs') %>
  </div>
</body>
</html>