<!DOCTYPE html>
<html lang="en">
<%- include('./includes/head.ejs') %>
<body>
  <div class="u-wrapper">
    <%- include('./includes/header.ejs') %>
    
    <%- include('./includes/footer.ejs') %>
  </div>
</body>
</html>