.c-hero{
    width: 100%;
    height: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-align: center;
    margin: 40px 0px;
    font-size: 13px;
    
    &__content{
        padding: 150px 0px;
    }

    &__title{
        font-size: 5em;
        margin: 0;
    }

    &__slogan{
        font-size: 1.4em;
        margin: 0;
        margin-bottom: 40px;
    }

    &__button{
        display: inline-flex;
        width: fit-content;
        height: fit-content;
        padding: 15px 60px;
        border: 1px solid var(--primary);
        border-radius: 5px;
        background-color: var(--primary);
        color: var(--body);
        cursor: pointer;
        transition: cubic-bezier(0.6, -0.28, 0.735, 0.045).3s;

        &-bigger{
            font-size: 1.8em;
        }

        &:hover{
            transform: translateY(-10px);
        }
    }

    &__message{
        font-size: 0.85em;
        margin: 30px 0px 0px 0px;
        color: var(--text-light);
    }

    @include iphone-8 {
        font-size: 12px;

        &__content {
            padding: 50px 0;
        }
        &__title {
            font-size: 3em;
        }
    }
}

/*.c-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 100px;
    
    &__title {
        font-size: 3em;
        text-align: center;
        margin-bottom: 16px;
    }

    &__description {
        font-weight: bold;
        text-align: center;
        max-width: 80%;
    }

    @include iphone-8 {
        font-size: 12px;

        &__title {
            margin: 0;
        }

        &__description {
            font-size: 1.4em;
            max-width: 100%;
        }
    }
}*/