.c-map {
    
    &__title {
        font-size: 2.5em;
    }

    &__container {
        border-radius: 5px;
        overflow: hidden;
        max-width: 80%;
        margin: 0 auto;
    }

    @include iphone-8 {
        &__container {
            max-width: 100%;
        }
    }
}