.c-marquee{
    display: flex;
    justify-content: center;

    &__title-container{
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    &__image{
        width: 50px;
    }

    &__title{
        font-weight: 800;
        font-size: 4.3em;
        font-family: $title;
        margin: 0 0 0 12px;

    }

    &__highlight{
        color: var(--primary);
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
    }

    &__subtitle{
        color: var(--text-light);
        text-align: center;
    }

    &__subtitle-highlight{
        color: var(--text);
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;

        
    }
} 
