.c-need{
    display: flex;
    margin: 100px 0px;

    &-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 0px 40px;
        grid-template-areas: 
            "figure title info-a"
            "figure rec info-b";
       // align-items: center;
    }

    &-space{
        height: 560px;
    }
    
    &__figure{
        width: 100%;
        height: 400px;

        &-grid{
            grid-area: figure;
            margin: 0px 60px 0px 0px;
            border: 1px  solid black;
            border-radius: 30px;
            width: auto;
            height: 100%;
        }
    }

    &__img{
        width: 100%;
        height: 100%;

        &-grid{
            grid-area: img;
        }
    }

    &__title{
        font-size: 3em;

        &-smaller{
            margin-top: 50px;
            font-size: 2em;
        }

        &-grid{
            grid-area: title;
        }

        &-nomargin{
            margin: 0;
        }
    }

    &__text{
        font-size: 1.5em;

        &-grid{
        
            &--a{
                grid-area: info-a;
                margin-top: 50px;           
            }

            &--b{
                grid-area: info-b;
            }
        }

        &-soft{
            color: var(--text-light);
            margin: 0;
        }
    }

    &__left{
        align-self: center;
    }

    &__rectangle{       
        transform: translateX(-160px);
        grid-area: rec;
        text-align: left;
        height: fit-content;
        width: fit-content;
        padding: 10px 20px;
        border-radius: 10px;
    }
}