.c-need{
    display: flex;
    margin: 100px 0px;

    &-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
            "figure title info"
            "figure . info";
    }

    &-space{
        height: 500px;
    }
    
    &__figure{
        width: 1500px;
        height: 400px;

        &-grid{
            grid-area: figure;
        }
    }

    &__img{
        width: 100%;
        height: 100%;

        &-grid{
            grid-area: img;
        }
    }

    &__title{
        font-size: 3em;

        &-grid{
            grid-area: title;
        }
    }

    &__text{
        font-size: 1.5em;

        &-grid{
            grid-area: info;
        }
    }

    &__left{
        align-self: center;
    }
}