.c-thanks{
    display: flex;
    margin: 100px 0px 0px 0px;
    height: 650px;

    &__left{
      align-self: center;
      margin-left: 100px;
    }

    &__title{
      font-size: 3em;
    }

    &__text{
      font-size: 1.7em;
      line-height: 40px;
    }
    
    &__cards{
      width: 300px;
      height: 160px;
    }

    @include iphone-8{
      height: fit-content;
      margin-top: 0;
      margin-bottom: 580px;
      width: 100%;
      justify-content: center;

        &__left{
        align-self: center;
        text-align: center;
        margin-left: 0px;
      }

      &__title{
        margin: 0;
      }

      &__text{
        margin: 5px 0px 0px 0px;
        font-size: 1.4em;
      }
    }
}
